# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=food_db
POSTGRES_HOST=nixos
POSTGRES_PORT=5432
# POSTGRES_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
POSTGRES_DATABASE_URL=postgresql://postgres:postgres@nixos:5432/food_db

POSTGRES_TEST_USER=postgres
POSTGRES_TEST_PASSWORD=postgres
POSTGRES_TESTS_DB=food_db_tests
POSTGRES_DATABASE_TEST_URL=postgresql://${POSTGRES_TEST_USER}:${POSTGRES_TEST_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_TESTS_DB}

# minio
MINIO_HOST=nixos
MINIO_PORT=9000
MINIO_ROOT_USER=ostapkob
MINIO_ROOT_PASSWORD=superpass123
MINIO_BUCKET=healthy-menu-dishes
MINIO_URL=http://$MINIO_HOST:$MINIO_PORT

# nexus
NEXUS_HOST=nixos
NEXUS_PORT=8081
NEXUS_USER_NAME=ostapkob
NEXUS_USER_PASSWORD=superpass123
NEXUS_ADMIN_NEW_PASS=M4jtlopYrP3xoUb!m4ePoTpas!+1
NEXUS_REGISTRY_PORT=5000
NEXUS_URL=http://$NEXUS_HOST:$NEXUS_PORT
NEXUS_REGISTRY_URL=$NEXUS_HOST:$NEXUS_REGISTRY_PORT

# kafka
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://192.168.49.1:9092
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
KAFKA_BOOTSTRAP_SERVERS=nixos:9092
KAFKA_BROKER_ID=1
KAFKA_DEFAULT_REPLICATION_FACTOR=1
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT
KAFKA_NUM_PARTITIONS=1
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000

# gitlab
GITLAB_HOST=nixos
GITLAB_PORT=8060
GITLAB_URL=http://$GITLAB_HOST:$GITLAB_PORT
GITLAB_CONTAINER_NAME=gitlab
GITLAB_ROOT_PASSWORD=M4jtlopYrP3xoUb!m4ePoTpas!+1
GITLAB_USER=ostapkob
GITLAB_NAME=ostap_kob
GITLAB_PASSWORD=superpass123
GITLAB_EMAIL=ostapkob@gmail.com
GITLAB_ROOT_TOKEN=glpat-9FVkGhZFQdFFsEk-P6q1gm86MQp1OjEH.01.0w1qm56lp
GITLAB_ACCESS_TOKEN=glpat-xC15BGeGShWQK4WJ2rGlvW86MQp1OjIH.01.0w0xbsq93


# jenkins
JENKINS_HOST=nixos
JENKINS_PORT=8060
JENKINS_URL=http://$JENKINS_HOST:$JENKINS_PORT
JENKINS_AGENT_NAME=agent-1
JENKINS_AGENT_WORKDIR=/home/jenkins/
JENKINS_SECRET=3001527dbd2b351f03f6327ca215ac9752816a219b24322dcfbf8d706d3ef25d

# sonar
SONAR_POSTGRES_USER=sonar
SONAR_POSTGRES_PASSWORD=sonar
SONAR_POSTGRES_DB=sonar
SONAR_POSTGRES_ADMIN_PASSWORD=M4jtlopYrP3xoUb!m4ePoTpas!+1

SONAR_JDBC_URL=jdbc:postgresql://postgres-sonar:5432/${SONAR_POSTGRES_DB}
SONAR_JDBC_USERNAME=${SONAR_POSTGRES_USER}
SONAR_JDBC_PASSWORD=${SONAR_POSTGRES_PASSWORD}
SONAR_ES_BOOTSTRAP_CHECKS_DISABLE="true"

# argo
ARGO_PASSWORD=M4jtlopYrP3xoUb!m4ePoTpas!+1

# redis
REDIS_URL=redis://redis:6379


FEDORA=192.168.1.171
NIX=192.168.1.163
