# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=food_db
POSTGRES_TESTS_DB=tests_food_db
POSTGRES_HOST=postgres
PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${PORT}/${POSTGRES_DB}
DATABASE_TEST_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${PORT}/${POSTGRES_TESTS_DB}

# minio
MINIO_ROOT_USER=ostapkob
MINIO_ROOT_PASSWORD=superpass123
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_BUCKET=healthy-menu-dishes
MINIO_URL=http://$MINIO_HOST:$MINIO_PORT

# nexus
NEXUS_USER=admin
NEXUS_PASSWORD=superpass123
NEXUS_HOST=nexus
NEXUS_REGISTRY_PORT=5000
NEXUS_WEB_URL=http://$NEXUS_HOST:8081
NEXUS_REGISTRY_URL=$NEXUS_HOST:$NEXUS_REGISTRY_PORT

# kafka
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://192.168.49.1:9092
KAFKA_AUTO_CREATE_TOPICS_ENABLE='true'
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_BROKER_ID=1
KAFKA_DEFAULT_REPLICATION_FACTOR=1
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT
KAFKA_NUM_PARTITIONS=1
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000

# redis
REDIS_URL=redis://redis:6379
